<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ movie?.title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movies"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="imageBaseUrl + '/w400' + movie?.poster_path"/>

    <ion-card-content>
      <h2>{{ movie?.title }}</h2>
      <p>{{ movie?.tagline }}</p>
      <p>Genres:</p>
      <ul>
        <li *ngFor="let genre of movie?.genres">{{ genre?.name }}</li>
      </ul>

      <p>
        <ion-icon name="cash-outline"></ion-icon>
        Orçamento: {{ movie?.budget| currency: 'USD' }}
      </p>

      <p>
        <ion-icon name="calendar-outline"></ion-icon>
        Ano: {{ movie?.release_date | date:'y' }}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
